<header>
  <mat-toolbar class="flex items-center justify-between" color="primary">
    <div>
      <span>My App</span>
    </div>

    <div class="flex items-center">
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      @if(user){
      <button mat-button (click)="handleLogout()">
        {{ user.fullName.split(" ")[0] }}
      </button>
      }
    </div>
  </mat-toolbar>
</header>
